many_loop_paper/
my_tree_class
.venv/
Graph_Edge_Data/features_loop_10/
Graph_Edge_Data/features_loop_10/
Graph_Edge_Data/features_loop_10/
Graph_Edge_Data/features_loop_10/
Graph_Edge_Data/features_loop_10/
Graph_Edge_Data/den_graph_data_11.csv/
Maxwell/
gdian/
inversecusprule.nb
inversecusprule.wl
GNN/wandb
# Ignore Python cache and logs
__pycache__/
*.pyc
*.log
wandb/
