my_local_copy/
many_loop_paper/
my_tree_class
.venv/
test_graphlets/
Graph_Edge_Data/
Maxwell/
gdian/
inversecusprule.nb
inversecusprule.wl
GNN/wandb
# Ignore Python cache and logs
__pycache__/
*.pyc
*.log
wandb/
/Tree_classifier_for_graphs/mixed_loops/features/features_tabular
/Tree_classifier_for_graphs/new_stuff/features/